USE [QLHSSV]
GO
/****** Object:  Table [dbo].[KHOAVIEN]    Script Date: 11/12/2019 23:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOAVIEN](
	[MKV] [nchar](20) NOT NULL,
	[TenKhoaVien] [nvarchar](250) NULL,
 CONSTRAINT [PK_KHOAVIEN] PRIMARY KEY CLUSTERED 
(
	[MKV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIADINH]    Script Date: 11/12/2019 23:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIADINH](
	[MSV] [nchar](20) NOT NULL,
	[HoTenNT] [nvarchar](50) NULL,
	[QuanHeVoiSV] [nvarchar](50) NULL,
	[NgheNghiep] [nvarchar](250) NULL,
	[SDT] [nchar](20) NULL,
 CONSTRAINT [PK_GIADINH] PRIMARY KEY CLUSTERED 
(
	[MSV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 11/12/2019 23:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nchar](50) NULL,
	[MatKhau] [nchar](20) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINKHAC]    Script Date: 11/12/2019 23:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINKHAC](
	[MSV] [nchar](20) NOT NULL,
	[NgayVaoDoan] [nchar](20) NULL,
	[NgayVaoDang] [nchar](20) NULL,
	[NgayVaoTruong] [nchar](20) NULL,
	[ChucVu] [nchar](20) NULL,
 CONSTRAINT [PK_THONGTINKHAC] PRIMARY KEY CLUSTERED 
(
	[MSV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUEQUAN]    Script Date: 11/12/2019 23:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUEQUAN](
	[MSV] [nchar](20) NOT NULL,
	[NoiSinh] [nvarchar](500) NULL,
	[QueQuan] [nvarchar](500) NULL,
 CONSTRAINT [PK_QUEQUAN] PRIMARY KEY CLUSTERED 
(
	[MSV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUATRINHHOCTAP]    Script Date: 11/12/2019 23:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUATRINHHOCTAP](
	[MSV] [nchar](20) NOT NULL,
	[KhoangThoiGian] [nchar](30) NULL,
	[NoiDung] [nvarchar](500) NULL,
	[DiaDiem] [nvarchar](250) NULL,
 CONSTRAINT [PK_QUATRINHHOCTAP] PRIMARY KEY CLUSTERED 
(
	[MSV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOITRU]    Script Date: 11/12/2019 23:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOITRU](
	[MSV] [nchar](20) NOT NULL,
	[SoPhong] [nchar](10) NULL,
	[SoKTX] [nchar](10) NULL,
 CONSTRAINT [PK_NOITRU] PRIMARY KEY CLUSTERED 
(
	[MSV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGOAITRU]    Script Date: 11/12/2019 23:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGOAITRU](
	[MSV] [nchar](20) NOT NULL,
	[TenChuHo] [nvarchar](50) NULL,
	[SoDT] [nchar](20) NULL,
	[DiaChi] [nvarchar](500) NULL,
 CONSTRAINT [PK_NGOAITRU] PRIMARY KEY CLUSTERED 
(
	[MSV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/12/2019 23:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [nchar](20) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[MKV] [nchar](20) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 11/12/2019 23:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MSV] [nchar](20) NOT NULL,
	[HoTenSV] [nvarchar](50) NULL,
	[NgaySinh] [nchar](10) NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[CMND] [nchar](20) NULL,
	[SDT] [nchar](20) NULL,
	[DanToc] [nvarchar](50) NULL,
	[MaLop] [nchar](20) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MSV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_LOP_KHOAVIEN]    Script Date: 11/12/2019 23:31:16 ******/
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOAVIEN] FOREIGN KEY([MKV])
REFERENCES [dbo].[KHOAVIEN] ([MKV])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOAVIEN]
GO
/****** Object:  ForeignKey [FK_SINHVIEN_GIADINH]    Script Date: 11/12/2019 23:31:16 ******/
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_GIADINH] FOREIGN KEY([MSV])
REFERENCES [dbo].[GIADINH] ([MSV])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_GIADINH]
GO
/****** Object:  ForeignKey [FK_SINHVIEN_LOP]    Script Date: 11/12/2019 23:31:16 ******/
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
/****** Object:  ForeignKey [FK_SINHVIEN_NGOAITRU]    Script Date: 11/12/2019 23:31:16 ******/
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_NGOAITRU] FOREIGN KEY([MSV])
REFERENCES [dbo].[NGOAITRU] ([MSV])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_NGOAITRU]
GO
/****** Object:  ForeignKey [FK_SINHVIEN_NOITRU]    Script Date: 11/12/2019 23:31:16 ******/
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_NOITRU] FOREIGN KEY([MSV])
REFERENCES [dbo].[NOITRU] ([MSV])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_NOITRU]
GO
/****** Object:  ForeignKey [FK_SINHVIEN_QUATRINHHOCTAP]    Script Date: 11/12/2019 23:31:16 ******/
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_QUATRINHHOCTAP] FOREIGN KEY([MSV])
REFERENCES [dbo].[QUATRINHHOCTAP] ([MSV])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_QUATRINHHOCTAP]
GO
/****** Object:  ForeignKey [FK_SINHVIEN_QUEQUAN]    Script Date: 11/12/2019 23:31:16 ******/
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_QUEQUAN] FOREIGN KEY([MSV])
REFERENCES [dbo].[QUEQUAN] ([MSV])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_QUEQUAN]
GO
/****** Object:  ForeignKey [FK_SINHVIEN_THONGTINKHAC]    Script Date: 11/12/2019 23:31:16 ******/
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_THONGTINKHAC] FOREIGN KEY([MSV])
REFERENCES [dbo].[THONGTINKHAC] ([MSV])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_THONGTINKHAC]
GO
